<header class="main-header">  
	<!-- 左侧Logo -->
	<a href="#" class="logo">
		<img class="logo-img" alt="logo" src="__IMAGE__/logo40.png">          
		<span class="logo-lg">WeiDo</span>    
	</a>
	<!-- 右侧nav -->
	<nav class="navbar navbar-static-top" role="navigation">
    	<!-- Sidebar切换按钮-->
	    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
	    	<span class="sr-only">Toggle navigation</span>    
	    </a>
	    <div class="navbar-custom-menu">
	      	<ul class="nav navbar-nav">
	        	<!-- 消息  -->
	        	<li class="dropdown messages-menu">
	          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            		<i class="fa fa-envelope"></i>
	            		<span class="label label-success">4</span>
	          		</a>
	          		<!-- 下拉菜单  -->
	          		<ul class="dropdown-menu">
	            		<li class="header">您有4条新消息</li>
	            		<!-- 内部菜单 -->
	            		<li>	              	
	              			<ul class="menu">              
	                			<li><!-- start message -->
	                  				<a href="#">
	                    				<div class="pull-left">
	                      					<img class="img-circle" alt="User Image" src="__IMAGE__/face/user2-160x160.jpg">
	                    				</div>
	                    				<h5>
	                      					技术团队
	                      					<small><i class="icon-time"></i> 5 mins</small>
	                    				</h5>
	                    				<p>您的微信点餐应用已过试用期！</p>
	                  				</a>
	                			</li><!-- end message -->
	                			<li><!-- start message -->
	                  				<a href="#">
		                    			<div class="pull-left">
		                      				<img class="img-circle" alt="User Image" src="__IMAGE__/face/user2-160x160.jpg">
		                    			</div>
		                    			<h5>
		                      				技术团队
		                      				<small><i class="icon-time"></i> 5 mins</small>
		                    			</h5>
		                    				<p>您的微信点餐应用已过试用期！</p>
	                  				</a>
	                			</li><!-- end message -->
	                			<li><!-- start message -->
	                  				<a href="#">
					                    <div class="pull-left">
					                      	<img class="img-circle" alt="User Image" src="__IMAGE__/face/user2-160x160.jpg">
					                    </div>
					                    <h5>
					                      	技术团队
					                      	<small><i class="icon-time"></i> 5 mins</small>
					                    </h5>
					                    <p>您的微信点餐应用已过试用期！</p>
	                  				</a>
	                			</li><!-- end message -->
	                			<li><!-- start message -->
	                  				<a href="#">
					                    <div class="pull-left">
					                      	<img class="img-circle" alt="User Image" src="__IMAGE__/face/user2-160x160.jpg">
					                    </div>
					                    <h5>
					                      	技术团队
					                      	<small><i class="icon-time"></i> 5 mins</small>
					                    </h5>
					                    <p>您的微信点餐应用已过试用期！</p>
	                  				</a>
	                			</li><!-- end message -->
	                		</ul>
	            		</li>
	            		<li class="footer"><a href="#">查看所有信息</a></li>
	          		</ul>
	        	</li>
	        	<!-- 通知 -->
	        	<li class="dropdown notifications-menu">
	          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            		<i class="fa fa-bell"></i>
	            		<span class="label label-warning">5</span>
	          		</a>
	          		<!-- 下拉菜单  -->
	          		<ul class="dropdown-menu">
	            		<li class="header">您有5条系统通知</li>	            
			            <li>
			              	<!-- 内部菜单 -->
			              	<ul class="menu">
			          		    
			              	</ul>
			            </li>
	            		<li class="footer"><a href="#">查看所有通知</a></li>
	          		</ul>
	        	</li>
	        	<!-- 任务 -->
	        	<li class="dropdown tasks-menu">
	          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            		<i class="fa fa-flag"></i>
	            		<span class="label label-danger">9</span>
	          		</a>
	          		<!-- 下拉菜单  -->
	          		<ul class="dropdown-menu">
	            		<li class="header">您有9项任务计划</li>
	            		<li>
	              		<!-- 内部菜单 -->
	              		<ul class="menu" >
	                		<li><!-- Task item -->
	                  			<a href="#">
		                    		<h3>
		                      			上传新菜单
		                      			<small class="pull-right">20%</small>
		                    		</h3>
		                    		<div class="progress xs">
		                      			<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
		                        			<span class="sr-only">20% Complete</span>
		                      			</div>
		                    		</div>
	                  			</a>
	                		</li><!-- end task item -->
	              		</ul>
	            		<li class="footer">
	              			<a href="#">查看所有任务</a>
	            		</li>
	          		</ul>
	        	</li>
	        	<!-- 用户账号 -->
	        	<li class="dropdown user user-menu">
	          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            		<img class="user-image" alt="User Image" src="__IMAGE__/user2-160x160.jpg" >
	            		<span class="hidden-xs">吴文靖</span>
	          		</a>
	          		<!-- 下拉菜单  -->
	          		<ul class="dropdown-menu">
	            		<!-- 用户头像 -->
	            		<li class="user-header">
	              			<img class="img-circle" alt="User Image" src="__IMAGE__/user2-160x160.jpg">
			              	<p>
			               		吴文靖
			                	<small>Member since Nov. 2012</small>
			              	</p>
	            		</li>
	            		<!-- 菜单 -->
        				<li class="user-body">
              				<div class="col-xs-4 text-center">
                				<a href="#">鲜花</a>
          					</div>
			              	<div class="col-xs-4 text-center">
			                	<a href="#">销售</a>
			              	</div>
			              	<div class="col-xs-4 text-center">
			                	<a href="#">粉丝</a>
			              	</div>
            			</li>
	            		<!-- Menu Footer-->
			            <li class="user-footer">
			              	<div class="pull-left">
			                	<a href="#" class="btn btn-default btn-flat">修改密码</a>
			              	</div>
			              	<div class="pull-right">
			                	<a href="#" class="btn btn-default btn-flat">退出</a>
			              	</div>
			            </li>
	          		</ul>
	        	</li>
	        	<!-- Control Sidebar切换按钮 -->
		        <li>
		          	<a href="#" data-toggle="control-sidebar">
		          		<i class="fa fa-gears"></i>
	          		</a>
		        </li>
	      	</ul>
    	</div>
  	</nav>
</header>
