<aside class="main-sidebar">
	<!-- sidebar -->
	<section class="sidebar">

	  	<!-- 搜索栏-->
	  	<form action="#" method="get" class="sidebar-form">
	    	<div class="input-group">
	      		<input type="text" name="q" class="form-control" placeholder="Search...">
	      		<span class="input-group-btn">
	        		<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="icon-search"></i></button>
	      		</span>
	    	</div>
	  </form>
	  	<!-- /搜索栏 -->
	  	
  		<!-- 侧边栏菜单 -->
	  	<ul class="sidebar-menu">    
	    	<li>
	      		<a href="{:url('index/main')}">
	        		<i class="fa fa-home text-green"></i> <span>首页</span>	        		
	      		</a>
	    	</li>
	    	<li class="header">商品管理</li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>商品列表</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>添加新商品</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>商品分类</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>用户评论</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>商品品牌</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>商品类型</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>商品回收站</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>图片批量处理</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>商品批量上传</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>商品批量导出</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>商品批量修改</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>生成商品代码</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>标签管理</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>虚拟商品列表</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>添加虚拟商品</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>更改加密串</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>商品自动上下架</span></a></li>
	    	<li class="header">促销管理</li>
	    	<li class="header">订单管理</li>
	    	<li class="header">广告管理</li>
	    	<li class="header">报表统计</li>
	    	<li class="header">文章管理</li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>文章分类</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>文章列表</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>文章自动发布</span></a></li>
	    	<li><a href="#"><i class="fa fa-laptop text-green"></i> <span>在线调查</span></a></li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>