<!DOCTYPE HTML>
<html style="height:100%">
	<head>
		{include file="Public/head"/}
		<link rel="stylesheet" href="__STATIC__/plugin/iCheck/square/blue.css">
	</head>
	<body class="modal-open" style="padding-right: 17px;">
		{include file="Public/mobile_menu"}
		<div id="page">			
			{include file="Public/header"}
			{include file="Public/nav"}
			{include file="Public/our-features"}
			{include file="Public/slideshow"}
			<div class="container">
				<div class="indexpage row">
					<div class="index-cat col-sm-2" style="background-color:red">
					{include file="Public/index_category_tree"}
					</div>
					<div class="index-banner col-sm-10" style="background-color:green">
					222
					</div>
				</div>
			</div>
			    		
      		{include file="Public/footer"}
		</div><!-- wrapper END -->
		{include file="Public/index_script"}

	</body>
</html>
