<header>
<div class="header-container">
  <div class="header-top">
    <div class="container">
      <div class="row"> 
        <!-- Header Language -->
        <div class="col-xs-12 col-sm-6" style="font-size:12px;">
          <div class="welcome-msg">
          	<a href="{:url('index/index')}" class="block-language" target="_self">
      		  <span class="hidden-xs"><i class="fa fa-home fa-fw"></i>&nbsp;围兜首页</span>
  		    </a>
  		    {if condition= "session('?user')"}
            <a title="欢迎光临" class="block-language" href="{:url('user/index')}" style="margin-left:10px;"> <span class="hidden-xs"><i style="color:#333">{$nickname}</i>, 欢迎来到围兜网</span></a>
            <a title="退出" class="block-language" href="{:url('user/logout')}" style="margin-left:10px;">  <span class="hidden-xs">【退出】</span>
            {else}
            <a title="登录" class="block-language" href="{:url('user/login')}" style="margin-left:10px;"> <span class="hidden-xs"> <i class="fa fa-user fa-fw"></i>你好，请登录</span></a>
            <a title="免费注册" class="block-language" href="{:url('user/register')}" style="margin-left:10px;"> <span class="hidden-xs"> <i class="fa fa-user-plus fa-fw"></i>免费注册</span></a>
            {/if}  
	      </div>
	      
          <div class="jtv-language-box"> 
          	<a class="block-language" role="button" href="{:url('index/changeCity')}"> 
        	  <span class="fa fa-globe">&nbsp;{$currArea.areaName}</span> 
          	</a>
          </div>
          <!-- End Header Language -->                             
        </div>
        <div class="col-xs-6 hidden-xs"> 
          <!-- Header Top Links -->
          <div class="jtv-top-links">
            <div class="links">
              <ul>               
                <li> <a title="我的围兜" href="{:url('user/index')}"> <span class="hidden-xs"> <span class="fa fa-wordpress fa-fw"></span> &nbsp;我的围兜</span></a> </li>
                <li> <a title="我的收藏" href="{:url('user/favorite')}"> <span class="fa fa-folder-open fa-fw"></span> &nbsp;我的收藏</a> </li>
                <li> <a title="我的账单" href="{:url('user/order')}"><span class="hidden-xs"> <span class="fa fa-list fa-fw"></span> &nbsp;我的订单</span></a> </li>
                <li>
                  <div class="dropdown block-company-wrapper hidden-xs"> <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#"> 更多 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{:url('index/about_us')}"> 关于我们 </a> </li>
                      <li><a href="{:url('index/customer_service')}"> 客户服务 </a> </li>
                      <li><a href="{:url('index/privacy_policy')}"> 隐私策略 </a> </li>
                      <li><a href="{:url('index/site_map')}"> 网站地图 </a> </li>
                      <li><a href="{:url('index/search_terms')}"> 搜索 </a> </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- End Header Top Links --> 
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
    	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 jtv-logo-box"> 
        <!-- Header Logo -->
        	<div class="logo"> <h1><a title="eCommerce" href="index.html"><img alt="eCommerce" src="__IMAGE__/logo.png"> </a></h1> </div>
        <!-- End Header Logo --> 
      	</div>
      	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hidden-xs">
          <div class="search-box">
            <form action="cat" method="POST" id="search_mini_form" name="Categories">
              <input type="text" placeholder="Search here..." value="" maxlength="70" name="search" id="search">
              <button type="button" class="search-btn-bg"><span class="fa fa-search"></span>&nbsp;</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>