<nav class="">
    <div class="container">
      <div class="mm-toggle-wrap">
        <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
      </div>
      <div class="nav-inner"> 
        <!-- BEGIN NAV -->
        <ul id="nav" class="hidden-xs">
          <li class="drop-menu"><a href="index.html" class="level-top active"><span>Home</span></a>
            
          </li>
          <li class="drop-menu"> <a href="#"> <span>Pages</span> </a>
            <ul>
              <li class="sub-cat"><a href="shop_grid.html"><span>Shop Grid</span></a>
                <ul>
                  <li> <a href="#"> <span>Shop Grid Right Sidebar</span> </a> </li>
                  <li> <a href="#"> <span>Shop Grid Fullwidth</span> </a> </li>
                </ul>
              </li>
              <li class="sub-cat"> <a href="#"> <span>Shop List</span> </a>
                <ul>
                  <li> <a href="#"> <span>Shop List Right Sidebar</span> </a> </li>
                </ul>
              </li>
              <li> <a href="single_product.html"> <span>Single Product</span> </a> </li>
              <li> <a href="#"> <span>Shopping Cart</span> </a> </li>
              <li><a href="#"><span>Checkout</span></a> </li>
              <li> <a href="#"> <span>Wishlist</span> </a> </li>
              <li><a href="#"><span>Compare</span></a> </li>
              <li><a href="#"><span>Quick View</span></a> </li>
              <li><a href="#"><span>404 Error Page</span></a> </li>
            </ul>
          </li>
          <li class="mega-menu"> <a class="level-top" href="shop_grid.html"><span>Fruits</span></a>
            <div class="jtv-menu-block-wrapper" style="display: none; left: 0px;">
              <div class="jtv-menu-block-wrapper2">
                <div class="nav-block jtv-nav-block-center">
                  <div class="col-1">
                    <ul class="level0">
                      <li class="parent item"> <a href="shop_grid.html"><span>Apples</span></a>
                        <ul class="level1">
                          <li> <a href="shop_grid.html"><span>Aurore Grape</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Super Sweet</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Gravenstein</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Orange Pippin</span></a> </li>
                        </ul>
                      </li>
                      <li class="parent item"> <a href="shop_grid.html"><span>Grapes</span></a>
                        <ul class="level1">
                          <li> <a href="shop_grid.html"><span>Raw Honey</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Flavored Honey</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Propolis</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Exotic Honey</span></a> </li>
                        </ul>
                      </li>
                      <li class="parent item"> <a href="shop_grid.html"><span>Citruses</span></a>
                        <ul class="level1">
                          <li> <a href="shop_grid.html"><span>Potatoes</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Tomatoes</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Pickles</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Cauliflowers</span></a> </li>
                        </ul>
                      </li>
                      <li class="parent item"> <a href="shop_grid.html"><span>Exotic Fruits</span></a>
                        <ul class="level1">
                          <li> <a href="shop_grid.html"><span>Spinach</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Pumpkin</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Kohlrabi</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Green Cabbage</span></a> </li>
                        </ul>
                      </li>
                      <li class="parent item"> <a href="shop_grid.html"><span>Summer Berries</span></a>
                        <ul class="level1">
                          <li> <a href="shop_grid.html"><span>Avocado</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Paprika</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Cheese Holand</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Cheese</span></a> </li>
                        </ul>
                      </li>
                      <li class="parent item"> <a href="shop_grid.html"><span>Green Cabbage</span></a>
                        <ul class="level1">
                          <li> <a href="shop_grid.html"><span>Сauliflower</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Tomato</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Oranges</span></a> </li>
                          <li> <a href="shop_grid.html"><span>Carrots</span></a> </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2">
                    <div class="jtv-nav-image1"> <a title="" href="#"><img alt="menu_image" src="images/menu-img1.jpg"> </a> </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="mega-menu"> <a class="level-top" href="shop_grid.html"><span>Vegetables</span></a>
            <div class="jtv-menu-block-wrapper" style="display: none; left: 0px;">
              <div class="jtv-menu-block-wrapper2">
                <div class="nav-block jtv-nav-block-center">
                  <ul class="level0">
                    <li class="parent item"> <a href="shop_grid.html"><span>Herbs and spices</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Lemon Grass</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Rosemary</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Chamomile</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Oregano</span></a> </li>
                      </ul>
                    </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Root vegetables</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Celeriac</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Daikon</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Rutabaga</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Parsnip</span></a> </li>
                      </ul>
           </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Onion family</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Chives</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Shallot</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Onion</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Garlic</span></a> </li>
                      </ul>
                    </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Legumes</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Black beans</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Kidney beans</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Green beans</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Soy beans</span></a> </li>
                      </ul>
                    </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Haricot bean</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Nectarine</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Charles &amp; Keith</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Fruits</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Rhubarb</span></a> </li>
                      </ul>
                    </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Kiwi fruit</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Mango</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Orange</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Pepper</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Quince</span></a> </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="jtv-nav-banner">
                  <div class="jtv-banner-box">
                    <div class="jtv-nav-banner-img"> <a href="#"><img src="images/menu-img2.jpg" alt="Handbag"> </a> </div>
                  </div>
                  <div class="jtv-banner-box">
                    <div class="jtv-nav-banner-img"> <a href="#"><img src="images/menu-img3.jpg" alt="Handbag"> </a> </div>
                  </div>
                  <div class="jtv-banner-box jtv-banner-box_last">
                    <div class="jtv-nav-banner-img"> <a href="#"><img src="images/menu-img4.jpg" alt="Handbag"> </a> </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="mega-menu"> <a class="level-top" href="shop_grid.html"><span>Healthy Eating</span></a>
            <div class="jtv-menu-block-wrapper" style="display: none; left: 0px;">
              <div class="jtv-menu-block-wrapper2">
                <div class="nav-block jtv-nav-block-center">
                  <ul class="level0">
                    <li class="parent item"> <a href="shop_grid.html"><span>Vegetables</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Tomatoes</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Potatoes</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Carrots</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Cauliflowers</span></a> </li>
                      </ul>
                    </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Fruit</span></a>
                      <ul class="level1">
                         <li> <a href="shop_grid.html"><span>Mango</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Orange</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Pepper</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Quince</span></a> </li>
                      </ul>
                    </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Whole Grains</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Cereals</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Noodles</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Rice</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Pasta</span></a> </li>
                      </ul>
                    </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Protein</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Nutrition</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Biosynthesis</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Enzymes</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Chronic Diseases</span></a> </li>
                      </ul>
                    </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Low-Fat Dairy</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Skim milk</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Fat-free cheese</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Strawberries</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Salad with olives</span></a> </li>
                      </ul>
                    </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Healthy Snack Food</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Pumpkin Seeds</span></a> </li>
                        <li> <a href="shop_grid.html"><span>String Cheese</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Celery</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Cottage Cheese</span></a> </li>
                      </ul>
                       </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="mega-menu"> <a class="level-top" href="shop_grid.html"><span>Drinks</span></a>
            <div class="jtv-menu-block-wrapper" style="display: none; left: 0px;">
              <div class="jtv-menu-block-wrapper2">
                <div class="nav-block jtv-nav-block-center jtv-menu-box-left">
                  <ul class="level0">
                    <li class="parent item"> <a href="shop_grid.html"><span>Cold drinks</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Fayrouz</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Mirinda</span></a> </li>
                        <li> <a href="shop_grid.html"><span>AMP Energy</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Mountain Dew</span></a> </li>
                      </ul>               </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Hot drinks</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Apple cider</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Butter tea</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Irish coffee</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Mate cocido</span></a> </li>
                      </ul>
                    </li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Fruit drinks</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Strawberry Lemonade</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Apple Cider</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Watermelontinis</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Sparkling Sangria</span></a> </li>
                      </ul></li>
                    <li class="parent item"> <a href="shop_grid.html"><span>Mixed drinks</span></a>
                      <ul class="level1">
                        <li> <a href="shop_grid.html"><span>Like Hand Grenade</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Miami Vice</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Blue Lagoon</span></a> </li>
                        <li> <a href="shop_grid.html"><span>Jungle Juice</span></a> </li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="nav-block nav-block-right std jtv-menu-box-right"><img src="images/menu-img5.jpg" alt="menu img"> </div>
              </div>
            </div>
          </li>
          <li class="mega-menu"> <a class="level-top" href="#"><span>Blog</span></a> </li>
          <li class="nav-custom-link mega-menu"> <a href="#" class="level-top"> <span>Buy this theme</span> </a>
            <div class="jtv-menu-block-wrapper custom-menu" style="display: none; left: 0px;">
              <div class="header-nav-dropdown-wrapper">
                <div class="jtv-custom-box"> <i class="fa fa-laptop"></i>
                  <h6 class="heading">100% Responsive Design</h6>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                </div>
                <div class="jtv-custom-box"> <i class="fa fa-book"></i>
                  <h6 class="heading">Easy Document</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim erat ut laoreet pharetra.</p>
                </div>
                <div class="jtv-custom-box"> <i class="fa fa-fort-awesome"></i>
                  <h6 class="heading">Awesome Icon Fonts</h6>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="jtv-custom-box"> <i class="fa fa-home"></i>
                  <h6 class="heading">1 Layout Home Pages</h6>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>