<div class="our-features-box hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature-box first"> <i class="fa fa-plane"></i>
            <div class="content">
              <h6>Free &amp; Next Day Delivery</h6>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature-box"> <i class="fa fa-headphones"></i>
            <div class="content">
              <h6>Support 24/7 For Clients</h6>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature-box"> <i class="fa fa-thumbs-o-up"></i>
            <div class="content">
              <h6>100% Satisfaction Guarantee</h6>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature-box last"> <i class="fa fa-tag"></i>
            <div class="content">
              <h6>Great Daily Deals Discount</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>