<aside class="main-sidebar" style="top:100px;width:140px;">
	<!-- sidebar -->
	<section class="sidebar">	  	
  		<!-- 侧边栏菜单 -->
	  	<ul class="sidebar-menu">    
	    	<li><a href="{:url('index/main')}"><i class="fa fa-home fa-fw"></i><span>欢迎页</span></a></li>
	    	<li><a href="#"><i class="fa fa-newspaper-o fa-fw"></i> <span>用户信息</span></a></li>
	    	<li><a href="#"><i class="fa fa-list fa-fw"></i> <span>我的订单</span></a></li>
	    	<li><a href="#"><i class="fa fa-location-arrow fa-fw"></i> <span>收货地址</span></a></li>
	    	<li><a href="#"><i class="fa fa-star fa-fw"></i> <span>我的收藏</span></a></li>
	    	<li><a href="#"><i class="fa fa-commenting fa-fw"></i> <span>我的留言</span></a></li>
	    	<li><a href="#"><i class="fa fa-tags fa-fw"></i> <span>我的标签</span></a></li>
	    	<li><a href="#"><i class="fa fa-file-text-o fa-fw"></i> <span>缺货登记</span></a></li>
	    	<li><a href="#"><i class="fa fa-gift fa-fw"></i> <span>我的红包</span></a></li>
	    	<li><a href="#"><i class="fa fa-thumbs-up fa-fw"></i> <span>我的推荐</span></a></li>
	    	<li><a href="#"><i class="fa fa-comments fa-fw"></i> <span>我的评论</span></a></li>
	    	<li><a href="#"><i class="fa fa-truck fa-fw"></i> <span>货物跟踪</span></a></li>
	    	<li><a href="#"><i class="fa fa-money fa-fw"></i> <span>资金管理</span></a></li>	   
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>